div, nav, li, aside, footer, header, article, a, ul, h1, h2, h3 {
  /* background-color: rgba(255, 0, 0, .15);
  outline: 1px solid blue; */
}

strong {
  font-weight: 500;
}

body {
  margin: 0;
  font-family: Circe, HelveticaNeue, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: #fafafa;
  color: #000000;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin-top: 20px;
}

h2 {
  font-weight: 500;
  font-size: 30px;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0;
  max-width: 720px;
}

p {
  font-size: 18px;
  max-width: 720px;
}

a {
  color: rgba(52, 168, 153, 1);
}

a:hover {
  text-decoration: none;
  color: rgba(32, 148, 133, 1);
}

img {
  margin-bottom: 0;
}

strong {
  font-weight: 600;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/*  -------  NAVIGATION  -------  */
.nav-wrap {
  background-color: #ffffff;
}

.main-nav {
  overflow: auto;
  background-color: #ffffff;
  padding-top: 20px;
  margin: 0px auto;
}

.mail-nav .row {
  display: block;
  margin: 0px auto;
  text-align: center;
  position: sticky;
  top: 0;
}

.col-logo {
  float: left;
}

.navigation {
  float: right;
  padding: 0;
  margin: auto 0;
  list-style: none;
}

.navigation li {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 15px;
}

.main-nav a {
  display: block;
  margin: 10px 0 10px 0;
  padding: 7px 0;
  font-size: 20px;
  line-height: 10px;
  border-bottom: 2px solid rgba(52, 168, 153, 0.5);
  text-decoration: none;
  color: #000000;
}

.main-nav a:hover {
  border-bottom: 2px solid rgba(52, 168, 153, 1);
  color: #000000;
  text-decoration: none;
}

.main-nav .col-logo a {
  margin: 0;
  border: none;
}

/*  -------  MAIN BANNER  -------  */

.main-banner-wrap {
  width: 100%;
  background-color: #fff;
  padding-top: 60px;
  background-image: linear-gradient(180deg, #ffffff, #ffffff, #ffffff, #fafafa);
}

.main-banner {
  overflow: hidden;
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.main-banner h1 {
  color: #000000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 60px;
}

.main-banner-box {
  position: absolute;
  top: 160px;
  left: 0px;
  float: left;
  width: 100px;
  z-index: 1;
}

.main-banner-box img {
  margin: 0;
  padding: 0;
}

.main-banner-text {
  position: relative;
  float: right;
  color: #000;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 600px;
  z-index: 2;
}

.main-banner-text p {
  font-size: 22px;
}

.main-btn,
.partner-btn {
  display: inline-block;
  background-color: rgba(72, 188, 173, 1);
  color: #ffffff;

  margin-top: 30px;
  padding: 5px 20px;
  border-radius: 35px;
  font-size: 22px;
  font-weight: 700;

  transition: .25s;
  text-align: center;
  text-decoration: none;
}

.main-btn:hover,
.main-btn:active,
.partner-btn:hover,
.partner-btn:active {
  background-color: rgba(52, 168, 153, 1);
  color: #ffffff;
}


/*  -------  ALL ARTICLES  -------  */

.article-wrap {
  padding: 20px 0;
  margin: 15px;
}

.article-wrap .container {
  background-color: #ffffff;
  padding: 20px 60px;
  border-radius: 25px;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.1);
}

.article-header {
  text-align: left;
  margin-bottom: 20px;
}


/*  -------  INTRO  -------  */

.text-block span {
  background-color: rgba(52, 168, 153, 0.25);
}

.factoids {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  float: right;
  width: 200px;
}

.fact-check {
  display: block;
  font-weight: 900;
  color: rgba(52, 168, 153, 1);
  font-size: 100px;
  line-height: 30px;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.fact-check span {
  font-size: 36px;
}

p.fact-check-text {
  display: block;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
}

.factoids img {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0
}

/*  -------  PRODUCTION  -------  */

.production-article a:hover {
  cursor: pointer;
}

.volume-list {
  list-style: none;
  font-size: 18px;
  padding-left: 0;
}

.partner-btn {
  margin-top: 10px;
  margin-bottom: 40px;
}

/*  -------  INGREDIENTS  -------  */

.ingredients {
  overflow: auto;
  position: relative;
}

.ing-text {
  position: sticky;
  z-index: 1000;
  float: left;
  width: 400px;
  margin-right: 20px;
  min-height: 300px;
}

.ing-text ul{
  padding-left: 0;
  list-style: none;
}

.ing-text li {
  font-size: 18px;
  margin-bottom: 15px;
}

.ing-text .safe {
  color: green;
  background-color: transparent;
  margin-left: 15px;
  font-size: 14px;
}

.safe a {
  color: green;
  text-decoration: none;
}

.safe a:hover {
  color: green;
  text-decoration: none;
  border-bottom: 1px solid green;
  background-color: rgba(52, 188, 123, 0.2);
}

.ing-text .ing-desc {
  margin-top: 0;
  font-size: 14px;
}

.ing-photo {
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 40px;
  width: 300px;
  padding: 0;
  margin: 0;
}

/*  -------  PARTNERS  -------  */

.partners-article {
  overflow: auto;
}

.partner-card {
  margin-top: 30px;
  float: left;
  width: 450px;
  margin-right: 50px;
}

.partner-header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 10px;
}

.partner-comment {
  margin-top: 10px;
}

.partner-card img {
  float: left;
  margin-right: 30px;
  margin-bottom: 40px;
}

/*
.partners-wrap {
  padding-bottom: 0;
}

.partners-article h1 {
  margin-bottom: 20px;
}

.partners-article p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 60px;
}

.partner-card {
  min-height: 200px;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
}

.partner-card img {
  margin-bottom: 20px;
}

.partner-card p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.partner-card .partner-comment {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
} */




/*  -------  BENEFITS  -------  */

/*
.benefits-article h3:not(:first-child) {
  margin-top: 40px;
}

.benefits-article p {
  margin-bottom: 20px;
  padding-left: 45px;
}

.benefits-article h3 {
  position: relative;
  display: block;
  left: 45px;
  padding-right: 45px;
}

.benefits-article h3::before {
  display: block;
  position: absolute;
  top: 2px;
  left: -45px;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #00915b;
  background-image: linear-gradient(45deg, #00915b, #00b15b);
  border-radius: 50%;
}

.aside-text p {
  font-family: Georgia serif;
  font-size: 30px;
  line-height: 45px;
}

p.aside-text-mini {
  font-family: inherit;
  font-size: 14px;
} */

/* .partner-btn-wrap {
  text-align: center;
}

.partner-btn {
  margin-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
} */
/*
@media screen and (max-width: 400px) {
  .partner-btn {
    padding-left: 25px;
    padding-right: 25px;
  }
} */


/*  -------  DELIVERY  -------  */

.delivery-article {
  overflow: hidden;
}

.delivery-img {
  float: left;
  width: 400px;
  margin-top: 30px;
  margin-right: 60px;
  margin-bottom: 0;
}

.delivery-article .text-block {
  float: left;
  width: 540px;
}

.delivery-article .text-block h3 {
  margin-top: 0;
}

/*
.delivery-wrap {
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
}

.delivery-article a {
  color: #999;
  text-decoration: underline;
  font-size: 16px;
}

.delivery-article a:hover {
  color: #00915b;
  text-decoration: none;
} */


.review-name {
  margin-left: 80px;
  position: relative;
}

.review-name::before {
  content:"";
  top: -5px;
  left: -80px;
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../img/elena.jpg);
  background-size: contain;
  background-color: #ffdddd;
  border-radius: 50%;
}

/*  -------  CONCLUSION  -------  */

.concl-list {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 0;
}

.concl-list li {
  display: inline-block;
  width: 210px;
  /* outline: 1px solid green; */
  margin-right: 30px;
  padding: 10px;
  vertical-align: top;
  position: relative;
  z-index: 20;
  font-size: 18px;
}

/* .concl-list li:nth-child(2) {
  width: 210px;
  margin-left: -40px;
  margin-right: 50px;
} */

.concl-list li:last-of-type {
  width: 180px;
  margin-right: 0;
}

span.concl-list-step {
  position: absolute;
  top: -40px;
  left: -15px;
  color: rgba(52, 168, 153, 0.25);
  font-size: 120px;
  z-index: 0;
  background-color: transparent;
  font-weight: 600;
}

.price-wrap {
  margin-top: 0;
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.price-wrap img {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -5px;
  left: 0;
}

.text-review {
  position: relative;
  margin-bottom: 40px;
}

.text-review .concl-list-step {
  top: -50px;
  left: -20px;
  font-size: 170px;
  font-family: HelveticaNeue;
}

.fact-check-review {
  font-family: Arial;
  font-style: italic;
  line-height: 34px;
  font-size: 22px;
  font-weight: 200;
  color: rgba(32, 148, 133, 1);
}

/*  -------  ACTION  -------  */


.action-wrap {
  width: inherit;
  color: #fff;
  text-align: center;
  margin: auto 0;
  background-color: rgba(52, 168, 153, 1);
}

.action-article {
  position: relative;
}

.action-wrap .container {
  color: #fff;
  border-radius: 0;
  box-shadow: 0 0;
  background-color: rgba(52, 168, 153, 1);
}

.action-article h1 {
  color: #fff;
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}

.action-offer {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 22px;
}

input,
textarea {
  font-family: Circe, HelveticaNeue, Arial, sans-serif;
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 20px;
  height: 35px;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  box-sizing: content-box;
}

textarea {
  padding-top: 10px;
  height: 150px;
  box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
  color: #fff;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: rgba(255, 255, 255, .4);
}

input:focus,
textarea:focus {
  border: none;
  border-bottom: 4px solid #fff;
  outline: none;
  margin-bottom: 33px;
}

input:invalid:not(:focus):not(:placeholder-shown),
textarea:invalid:not(:focus):not(:placeholder-shown) {
  /* border: none; */
  border-bottom: 4px solid #fff;
}

input:invalid:focus:not(:placeholder-shown),
textarea:invalid:focus:not(:placeholder-shown) {
  /* border: none; */
  border-bottom: 4px solid #fff;
}

input:invalid {
  box-shadow: none;
}

input[type="submit"] {
  width: 35%;
  height: 50px;
  font-size: 22px;
  background: white;
  border-radius: 35px;
  border: 2px solid rgba(52, 168, 153, 1);
  color: rgba(52, 168, 153, 1);
  margin: auto;
  margin-top: 50px;
  font-weight: 700;
  box-sizing: border-box;
}

@media screen and (max-width: 991px) {
  input[type="submit"] {
    width: 100%;
  }
}

input[type="submit"]:hover{
  background: white;
  color: rgba(52, 168, 153, 1);
  border: 2px solid white;
  cursor: pointer;
}

input[type="submit"]:active {
  box-shadow: 0 0 50px rgba(0,0,0,.2);
  cursor: pointer;
}

input[type="submit"]:focus {
  background: white;
  color: rgba(52, 168, 153, 1);
  border: 2px solid white;
  box-shadow: 0 0 50px rgba(0,0,0,.2);
}

#form-contacts {
  visibility: visible;
  opacity: 1;
  transition: 1s;
}

#form-msg {
  position: absolute;
  top: 300px;
  left: 140px;
  text-align: —Åcenter;
  color: #ffffff;
  font-size: 45px;
  line-height: 60px;
  font-weight: 400;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

/*  -------  FOOTER  -------  */

div, nav, li, aside, footer, header, article, a, ul, h1, h2, h3, p {
  /* background-color: rgba(255, 0, 0, .15);
  border: 1px solid blue; */
}

footer {
  padding-top: 20px;
  padding-bottom: 15px;
  color: #000;
  background-color: #f8f8f8;
}

.footer-menu {
  overflow: auto;
  margin-bottom: 30px;
  margin-left: 190px;
  text-align: left;
}

.footer-menu-col {
  float: left;
  width: 160px;
}

.footer-menu-col:last-of-type {
  width: 200px;
  margin-left: 120px;
}

.footer-menu ul {
  list-style: none;
  padding-left: 0;
}

.footer-menu li {
  padding: 2px 0;
}

.footer-menu-col p {
  padding-top: 7px;
}

.footer-ooo {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #aaa;
}

.footer-menu p {
  color: #555;
  font-size: 18px;
}

.footer-menu a {
  color: #555;
  text-decoration: none;
  font-size: 18px;
}

.footer-menu a:hover{
  color: #555;
  border-bottom: 1px solid #555;
}

a#toform-footer {
  color: rgba(52, 168, 153, 1);
  font-weight: 700;
}

a#toform-footer:hover {
  color: rgba(52, 168, 153, 1);
  border-bottom: 1px solid rgba(52, 168, 153, 1);
}

a.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: .8;
}

a.social-btn:not(:last-child) {
  margin-right: 15px;
}

a.social-btn:hover {
  opacity: 1;
  border-bottom: none;
}

.social-btn .hidden {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
